<!--<footer class="footer">-->
    <!--<div class="container">-->
        <!--<div class="copy">Copyright © 2018 Wayforpay</div>-->
    <!--</div>-->
<!--</footer>-->

<script type="text/javascript" src="libs/jquery/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="libs/jquery/jquery-migrate-1.4.1.min.js"></script>


<script type="text/javascript" src="libs/maskedinput/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="js/style.js"></script>

</body>
</html>
