<header class="header flex" id="header">
    <div class="logo">
        <img src="img/logo.svg" alt="">
    </div>
    <div class="exit flex">
        <button>выход</button>
        <i data-svg="img/logo-small.svg"></i>
    </div>
</header>
