@@include('parts/_head.html')
<div class="wrapper">
    @@include('parts/_header.html')
    <main class="content">
        <section>
            <div class="container">
                <div class="title__page">Список заказов</div>
                <div class="search-filters flex">
                    <div>
                        <form action="" name="" class="filter filter__id">
                            <input class="filter__input input" type="text" placeholder="Поиск по фамилии или ID">
                            <button type="submit" class="btn btn--blue">Искать</button>
                        </form>
                    </div>
                    <div>
                        <form action="" name="" class="filter filter__order">
                            <select class="filter__input input" name="" id="">
                                <option value="" selected>новая заявка</option>
                                <option value="">новая заявка2</option>
                                <option value="">новая заявка3</option>
                                <option value="">новая заявка4</option>
                            </select>
                            <button type="submit" class="btn btn--red">Искать</button>
                        </form>
                    </div>
                    <div class="filter__date flex">
                        <div><button>за неделю</button></div>
                        <div class="active"><button>за месяц</button></div>
                        <div><button>за год</button></div>
                        <div><button>все</button></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="table--wrapper">
                    <table class="table table--order">
                        <thead>
                            <tr>
                                <th class="sort-active">
                                    ID
                                    <div class="sort">
                                        <i data-svg="img/arr-up.svg"></i>
                                        <i data-svg="img/arr-down.svg"></i>
                                    </div>
                                </th>
                                <th>
                                    Дата
                                    <div class="sort">
                                        <i data-svg="img/arr-up.svg"></i>
                                        <i data-svg="img/arr-down.svg"></i>
                                    </div>
                                </th>
                                <th>
                                    Клиент
                                    <div class="sort">
                                        <i data-svg="img/arr-up.svg"></i>
                                        <i data-svg="img/arr-down.svg"></i>
                                    </div>
                                </th>
                                <th>
                                    Статус заказа
                                    <div class="sort">
                                        <i data-svg="img/arr-up.svg"></i>
                                        <i data-svg="img/arr-down.svg"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-href="http://apple.com">
                                <td>023</td>
                                <td>11 февраля 2019</td>
                                <td>Михаил Полосов</td>
                                <td>Новый заказ</td>
                            </tr>
                            <tr data-href="http://apple.com">
                                <td>023</td>
                                <td>11 февраля 2019</td>
                                <td>Михаил Полосов</td>
                                <td>Новый заказ</td>
                            </tr>
                            <tr data-href="http://apple.com">
                                <td>023</td>
                                <td>11 февраля 2019</td>
                                <td>Михаил Полосов</td>
                                <td>Новый заказ</td>
                            </tr>
                            <tr data-href="http://apple.com">
                                <td>023</td>
                                <td>11 февраля 2019</td>
                                <td>Михаил Полосов</td>
                                <td>Новый заказ</td>
                            </tr>
                            <tr data-href="http://apple.com">
                                <td>023</td>
                                <td>11 февраля 2019</td>
                                <td>Михаил Полосов</td>
                                <td>Новый заказ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination flex">
                    <div data-svg="img/arr-left.svg" class="pagination-prev disabled"></div>
                    <div class="active">1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div data-svg="img/arr-right.svg" class="pagination-next"></div>
                </div>
            </div>
        </section>
    </main>
</div>
@@include('parts/_footer.html')
