@@include('parts/_head.html')
<div class="wrapper">
    @@include('parts/_header.html')
    <main class="content">
        <form action="" name="">
            <div class="container">
                <div class="title__group">
                    <a href="#" class="back-button flex">
                        <i data-svg="img/arr-left.svg"></i>
                        Назад к списку заказов
                    </a>
                    <div class="title__page">Заявка № 031</div>
                </div>
                <div class="status flex">
                    <div class="flex status__date">
                        <div>Дата:</div>
                        <div>11 февраля 2019</div>
                    </div>
                    <div class="flex status__order">
                        <div>Статус заявки:</div>
                        <select class="input" name="" id="">
                            <option value="" selected>новая заявка</option>
                            <option value="">новая заявка2</option>
                            <option value="">новая заявка3</option>
                            <option value="">новая заявка4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="group">
                    <div class="group__title">Информация о клиенте</div>
                    <div class="group__inputs flex">
                        <div>
                            <label class="input--group">
                                <span class="input__title">Название</span>
                                <input type="text" class="input" placeholder="Иван Иванович (ООО Авента)" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Телефон</span>
                                <input type="tel" class="input" placeholder="8 921 34345643" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Е-мейл</span>
                                <input type="email" class="input" placeholder="4324@fdrt.tu" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="group__title">Информация о заказе</div>
                    <div class="group__inputs info-order flex">
                        <div>
                            <label class="input--group">
                                <span class="input__title">Город отправления</span>
                                <input type="text" class="input" placeholder="" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Адрес доставки</span>
                                <input type="text" class="input" placeholder="" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Город доставки</span>
                                <input type="text" class="input" placeholder="" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Описание заказа</span>
                                <textarea name="" class="input" placeholder="" required></textarea>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Телефон получателя</span>
                                <input type="tel" class="input" placeholder="" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="group__title">Информация по доставке</div>
                    <div class="group__inputs flex">
                        <div>
                            <label class="input--group">
                                <span class="input__title">Номер накладной</span>
                                <input type="text" class="input" placeholder="Иван Иванович (ООО Авента)" required>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Аэропорт</span>
                                <select class="input input--aero" name="">
                                    <option value="" selected>Выбрать</option>
                                    <option value="">Аэропорт 2</option>
                                    <option value="">Аэропорт 3</option>
                                    <option value="">Аэропорт 4</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <div class="input--group input--aero--status">
                                <span class="input__title">Текущий статус от аэропорта:</span>
                                <p>Груз проходит растаможку</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group group--pay">
                    <div class="group__title">Он-лайн оплата</div>
                    <div class="group__inputs online-pay flex">
                        <div>
                            <label class="input--group">
                                <span class="input__title">Услуга</span>
                                <select class="input input--aero" name="">
                                    <option value="" selected>Услуга</option>
                                    <option value="">Услуга 2</option>
                                    <option value="">Услуга 3</option>
                                    <option value="">Услуга 4</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label class="input--group">
                                <span class="input__title">Количество</span>
                                <input type="text" class="input">
                            </label>
                        </div>
                        <div>
                            <div class="input--group">
                                <span class="input__title">Стоимость (руб.)</span>
                                <input type="number" class="input">
                            </div>
                        </div>
                        <div>
                            <div class="btn--wrap">
                                <div class="btn btn--blue add-service">добавить еще</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="group__title">ИТОГО: 12 657 <span>Руб</span></div>
                    <div class="group__inputs total flex">
                        <div>
                            <label class="input--group">
                                <span class="input__title">Назначение счета</span>
                                <textarea name="" class="input" placeholder="" required></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="flex total-pay-box">
                        <a href="#" class="btn btn--border">Выписать счет на оплату</a>
                        <a href="#" class="useful-link">Ссылка на оплату</a>
                        <a href="#" class="useful-link">Скачать счет в xls</a>
                    </div>
                    <div class="flex btn--wrap confirm-box">
                        <button type="reset" class="btn btn--border">Закрыть без изменений</button>
                        <button type="submit" class="btn btn--border">сохранить изменения</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
@@include('parts/_footer.html')
