@import "../../node_modules/include-media/dist/include-media";
@import "fonts";
@import "vars";
@import "mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	&:before, &:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

html{
	$max-font-size: map_get($body, max-font-size);
	$min-font-size: map_get($body, min-font-size);
	font-size: 14px;
	min-height: 100%;
	height: 100%;
	@include responsive-font(vw($max-font-size), $min-font-size, $max-font-size);
}

body {
	font: 400 rem(14px)/1 $HelveticaNeueCyr;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	color: $black;
	opacity: 1;
	display: flex;
	flex-direction: column;
}

a {
	transition: all .3s;
	display: inline-block;
	color: #333;
	text-decoration: none;
	&:hover,
	&:active {
		color: #333;
	}
	&.disabled {
		color: #333;
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

a,
input,
button,
textarea,
select {
	outline: none;
	border: none;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style: none;
}
input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input:focus::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	transition: all .3s;
	color: transparent !important;
}

input:focus::-moz-placeholder {
	/* Firefox 19+ */
	transition: all .3s;
	color: transparent !important;
}

input:focus:-ms-input-placeholder {
	/* IE 10+ */
	transition: all .3s;
	color: transparent !important;
}

input:focus:-moz-placeholder {
	/* Firefox 18- */
	transition: all .3s;
	color: transparent !important;
}
[data-svg] {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.svg {
	display: inline-block;
	transition: all .3s;
	height: rem(20px);
	width: rem(20px);
}
.flex{
	display: flex;
	flex-flow: row wrap;
}
.wrapper {
	position: relative;
	flex: 1 0;
}
main.content {
	position: relative;
	display: block;
	padding-top: rem(129px);
	padding-bottom: rem(150px);
	@include media('<550px'){
		padding-bottom: rem(30px);
	}
}
.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 rem(15px);
	margin: 0 auto;
}
section {
	position: relative;
}
[data-thumb] {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $white;
	background-size: 100%;
	position: relative;
	overflow: hidden;
	transition: all .3s;
	width: 100%;
	img {
		display: block;
		opacity: 0;
		width: 100%;
	}
	&.hover-zoom {
		&:hover {
			background-size: 110%;
		}
	}
}
//header
.header{
	position: absolute;
	z-index: 888;
	left: 0;
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	transition: all .3s;
	background-color: rgba(255,255,255,0);
	justify-content: space-between;
	padding: rem(50px) rem(50px) 0;
	@include media('<768'){
		padding: rem(30px) rem(15px) 0;
	}
	.svg{
		width: auto;
		height: auto;
	}
}
.logo{
	display: block;
	img{
		display: block;
		@include media('<550px'){
			width: 180px;
		}
	}
}
.exit{
	align-items: center;
	button{
		text-transform: uppercase;
		color: $black;
		display: block;
		margin-right: rem(13px);
		font-weight: 700;
	}
}
.btn {
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	padding: 0 rem(15px);
	height: rem(47px);
	font-size: rem(14px);
	line-height: 1;
	transition: all .3s;
	outline: none;
	box-shadow: none;
	min-width: rem(175px);
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	&--wrap {
		display: block;
	}
	&--blue{
		background-color: #273341;
		border-color: #273341;
		color: #E5E5E5;
		&:hover{
			background-color: #fff;
			border-color: #273341;
			color: #273341;
		}
	}
	&--red{
		background-color: #D76A6A;
		border-color: #D76A6A;
		color: #E5E5E5;
		&:hover{
			background-color: #fff;
			border-color: #D76A6A;
			color: #D76A6A;
		}
	}
	&--border{
		background-color: transparent;
		border-color: #97ABBE;
		color: #273341;
		&:hover{
			background-color: #D76A6A;
			border-color: #D76A6A;
			color: #FFFFFF;
		}
	}
}
.title{
	&__group{
		position: relative;
	}
	&__page{
		text-align: center;
		font-size: rem(36px);
		text-transform: uppercase;
		color: #273341;
		font-weight: 700;
		margin-bottom: rem(49px);
	}
}
.search-filters{
	justify-content: space-between;
	align-items: center;
	margin-bottom: rem(23px);
	& > div{
		margin-bottom: rem(15px);
		@include media('<550px'){
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	@include media('<550px'){
		.btn{
			min-width: auto;
		}
	}
}
.filter{
	display: flex;
	align-items: center;
	&__input{
		margin-right: rem(15px);
		padding: 0 rem(5px) 0 rem(25px);
		width: rem(325px);
		@include media('<550px'){
			flex: 1 0;
		}
	}
	&__id{
		.input{
			text-align: left;
			text-indent: rem(20px);
			@include media('<550px'){
				text-indent: 0;
			}
		}
	}
	&__order{

	}
	&__date{
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: flex-end;
		align-items: center;
		padding-top: rem(18px);
		margin-bottom: 0!important;
		button{
			font-size: rem(12px);
			color: #97ABBE;
			font-weight: 700;
			display: block;
			padding: rem(5px) 0;
			margin: 0 rem(18px);
			border-bottom: 1px solid transparent;
			transition: all .3s;
			@include media('<550px'){
				margin: 0 rem(10px);
			}
			&:hover{
				color: #273341;
			}
		}
		div:last-child > button{
			border-right: 0;
		}
		.active button{
			border-color:  #97ABBE;
			color: #273341;
		}
	}
}
.input{
	background-color: #fff;
	border: 1px solid #97ABBE;
	height: rem(49px);
	display: block;
	font-size: rem(14px);
	color: #273341;
	width: 100%;
	min-width: rem(300px);
	padding: 0 rem(5px);
	text-align: center;
	@include media('<550px'){
		min-width: rem(50px);
	}
	&--group{
		display: block;
		width: 100%;
		.input{
			min-width: auto;
		}
	}
	&__title{
		display: inline-block;
		margin-bottom: rem(11px);
		font-size: rem(14px);
		color: #273341;
	}
}
select.input{
	text-transform: uppercase;
	font-weight: 700;
	color: #273341;
	text-indent: rem(20px);
	padding-right: rem(35px);
	background: transparent url(../img/select.svg) no-repeat center right rem(23px);
	transition: all .3s;
	@include media('<550px'){
		text-indent: 0;
	}
	&:hover{
		background-color: #E5E5E5;
	}
}
textarea.input{
	max-width: 100%;
	height: rem(142px);
	resize: none;
	width: 100%;
	padding-top: rem(10px);
	font-size: rem(14px);
	color: #273341;
	text-align: left;
}
.table{
	border-collapse: collapse;
	width: 100%;
	&--wrapper{
		margin-bottom: rem(45px);
	}
	.sort{
		transform: translateY(-50%);
		position: absolute;
		right: rem(10px);
		top: 50%;
		i{
			margin: rem(4px) 0;
			display: block;
			line-height: 0;
			transition: all .3s;
		}
		.svg{
			width: auto;
			height: auto;
			fill: #273341;
		}

	}
	.sort-active{
		.sort{
			i:first-child{
				transform: translateX(-4px);
				.svg{
					fill: #97ABBE;
				}
			}
		}
	}
	td,th{
		height: rem(50px);
		border: 1px solid #97ABBE;
		line-height: 1.3;
		padding: rem(2px);
		cursor: pointer;
	}
	th{
		text-transform: uppercase;
		background-color: #E5E5E5;
		padding: 0 rem(25px);
		position: relative;
		@include media('<480px'){
			padding: 0 rem(25px) 0 rem(5px);
		}
		&:first-child{
			width: 17%;
		}
	}
	td{
		font-size: rem(14px);
		text-align: center;
		color: #273341;
		transition: all .3s;
	}
	tr{
		position: relative;
		&:hover td{
			background-color: #E5E5E5;
		}
	}
	a{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
	}
}
.pagination{
	justify-content: center;
	align-items: center;
	& > div{
		color: #97ABBE;
		transition: all .3s;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(25px);
		font-size: rem(16px);
		height: rem(25px);
		cursor: pointer;
		font-weight: 700;
		margin: 0 rem(21px);
		&:hover{
			color: #273341;
		}
		&.active{
			color: #273341;
		}
		@include media('<550px'){
			margin: 0 rem(10px);
		}
	}
	.svg{
		width: auto;
		height: auto;
		fill: #C4C4C4;
	}
	.pagination-prev,
	.pagination-next{
		&.disabled{
			visibility: hidden;
			opacity: 0;
		}
		&:hover{
			.svg{
				fill: #273341;
			}
		}
	}
}
.back-button{
	font-size: rem(12px);
	color: #273341;
	border-bottom: 1px solid #97ABBE;
	font-weight: 700;
	line-height: 1.8;
	align-items: center;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: rem(18px);
	@include media('<640px'){
		position: relative;
		display: inline-block;
		margin-bottom: rem(20px);
	}
	i{
		transform: translateY(-50%);
		margin-right: rem(10px);
		position: absolute;
		right: 100%;
		top: 50%;
	}
	.svg{
		width: rem(12px);
		height: rem(12px);
		fill: #97ABBE;
	}
}
.status{
	align-items: center;
	justify-content: space-between;
	margin-bottom: rem(35px);
	& > div{
		align-items: center;
	}
	&__date{
		div:first-child{
			text-transform: uppercase;
			font-weight: 700;
			color: #273341;
			margin-right: rem(20px);
		}
	}
	&__order{
		flex-flow: row nowrap;
		@include media('<768'){
			flex: 0 0 100%;
			max-width: 100%;
			padding-top: rem(30px);
			flex-flow: row wrap;
		}
		div:first-child{
			margin-right: rem(20px);
			white-space: nowrap;
			@include media('<768'){
				flex: 0 0 100%;
				max-width: 100%;
				margin-right: 0;
				margin-bottom: rem(11px);
			}
		}
		.input{
			width: rem(360px);
		}
	}
}
.group{
	margin-bottom: rem(52px);
	&__title{
		text-transform: uppercase;
		color: #273341;
		font-weight: 700;
		margin-bottom: rem(27px);
		span{
			font-size: rem(11px);
		}
	}
	&__inputs{
		align-items: flex-start;
		margin: 0 rem(-7.5px);
		& > div{
			flex: 0 0 33.333%;
			max-width: 33.333%;
			padding: 0 rem(7.5px);
			margin-bottom: rem(15px);
			@include media('<992'){
				flex: 0 0 100%;
				max-width: rem(633px);
			}
		}
	}
}
.info-order{
	& > div{
		&:nth-child(2),
		&:nth-child(4){
			flex: 0 0 66.6667%;
			max-width: 66.6667%;
			@include media('<992'){
				flex: 0 0 100%;
				max-width: rem(633px);
			}
		}

		&:nth-child(5){
			height: 0;
			@include media('<992'){
				height: auto;
			}
			.input--group{
				transform: translateY(calc(-100% - 15px));
				@include media('<992'){
					transform: translateY(0);
				}
			}
		}
		@include media('<992'){
			&:nth-child(4){
				order: 5;
			}
			&:nth-child(5){
				order: 4;
			}
			&:nth-child(2){
				order: 3;
			}
		}
	}
}
.input--aero{
	text-transform: none!important;
	font-weight: 400!important;
}
.input--aero--status{
	.input__title{
		text-align: center;
		width: 100%;
	}
	p{
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(49px);
		color: #273341;
		font-weight: 700;
	}
}
.online-pay{
	& > div{
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4){
			flex: 0 0 16.6665%;
			max-width: 16.6665%;
			@include media('<992'){
				flex: 0 0 100%;
				max-width: rem(633px);
			}

		}
		@include media('<992'){
			&:nth-child(2),
			&:nth-child(3){
				flex: 0 0 50%;
				max-width: rem(317px);
			}
			&:nth-child(4){
				flex: 0 0 100%;
				max-width: rem(633px);
			}
		}
	}
	.btn--wrap{
		padding-top: rem(25px);
		@include media('<992'){
			padding-top: 0;
			padding-bottom: rem(30px);
			justify-content: flex-end;
			display: flex;
		}
	}
	.btn{
		height: rem(49px);
	}
}
.total{
	& > div{
		&:nth-child(1){
			flex: 0 0 66.6667%;
			max-width: 66.6667%;
			@include media('<992'){
				flex: 0 0 100%;
				max-width: rem(633px);
			}
		}
	}
	textarea.input{
		height: rem(211px);
	}
}
.total-pay-box{
	align-items: center;
	max-width: 66.6667%;
	padding-right: rem(7.5px);
	@include media('<992'){
		flex: 0 0 100%;
		max-width: rem(633px);
	}
	.btn--border{
		margin-right: auto;
		@include media('<550px'){
			margin-bottom: rem(20px);
		}
	}
}
.useful-link{
	line-height: 1.4;
	color: #273341;
	font-size: rem(12px);
	border-bottom: 1px solid #97ABBE;
	font-weight: 700;
	margin-left: rem(30px);
}
.confirm-box{
	padding-top: rem(50px);
	display: flex;
	.btn{
		margin: 0 rem(15px) rem(15px) 0;
	}
}
/*
*************
    FOOTER
*************
*/
.footer{
	position: relative;
	z-index: 777;
	width: 100%;
	overflow: hidden;
}
